@page "/productos/nuevo"
@rendermode InteractiveServer
@inject NavigationManager _navigator;
@inject IRepositorioProductos _repositorio;

<h3>AñadirProducto</h3

<input type="text" class="form-control" placeholder="Nombre" @bind="producto.Nombre" />
<input type="text" class="form-control" placeholder="Descripcion" @bind="producto.Descripcion" />
<input type="text" class="form-control" placeholder="Precio" @bind="producto.Precio" />
<input type="text" class="form-control" placeholder="Categoria" @bind="producto.Categoria" />

<button class="btn btn-primary" @onclick="Guardar">Guardar</button>

@code {
private Producto producto = new Producto();

    private async Task Guardar()
    {

        await _repositorio.Add(producto);
        _navigator.NavigateTo("productos");
    }
}
