@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>
    <img src="https://www.logotypes101.com/logos/349/2DE083795B619590FD9F6A7071F606DC/Maseca.png" alt="Maseca Logo" width="100" height="100" />
    <span>Tortilleria DB</span>
    <img src="https://www.logotypes101.com/logos/349/2DE083795B619590FD9F6A7071F606DC/Maseca.png" alt="Maseca Logo" width="100" height="100" />
</h1>

<p>Bienvenido a la aplicación de la tortillería DB</p>

<p>Para comenzar, selecciona una opción del menú de navegación o alguna de las siguientes</p>

<ul>
    <li><a href="/productos"> Lista de Productos</a></li>
    <li><a href="/proveedores">Lista de Proveedores</a></li>
    <li><a href="/inventario">Consultar Inventario</a></li>
    <li><a href="/proveedoresproducto">Relación de Productos con Proveedores</a></li>
</ul>
